@import "main";
@import "log-book";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(224, 201, 166);
}

h1 {
  text-align: center;
  text-decoration: underline;
}
